<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 게시판 관련 Mapper -->

<mapper namespace="com.smhrd.model.UserBoardDAO">
	<select id="selectList" resultType="com.smhrd.model.UserBoardMemberVO">
		SELECT B_TITLE, EMAIL, B_NUM, CREATED_AT, B_VIEWS FROM
		D_BOARD ORDER BY B_NUM DESC
	</select>

	<select id="selectView" resultType="com.smhrd.model.UserBoardMemberVO">
		SELECT B_TITLE, B_CONTENT,CREATED_AT, EMAIL, B_NUM,B_VIEWS
		FROM D_BOARD
		WHERE B_NUM=#{B_NUM}
	</select>

	<update id="fixView" parameterType="com.smhrd.model.UserBoardMemberVO">
		UPDATE D_BOARD SET B_CONTENT = #{B_CONTENT} WHERE B_NUM
		= #{B_NUM}
	</update>

	<delete id="deleteView" parameterType="com.smhrd.model.UserBoardMemberVO">
		DELETE FROM D_BOARD
		WHERE B_NUM = #{B_NUM}
	</delete>

</mapper>
