<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 댓글 관련 Mapper -->
<mapper namespace="com.smhrd.model.UserCommentDAO">

	<insert id="uploadComment" parameterType="com.smhrd.model.CommentMemberVO">
		INSERT INTO D_COMMENT(B_NUM,CMT_CONTENT,EMAIL)
		VALUES(#{B_NUM},#{CMT_CONTENT},#{EMAIL})
	</insert>
	
	<select id = "selectComment" resultType="com.smhrd.model.CommentMemberVO">
		SELECT CMT_NUM, CMT_CONTENT, COMMENTED_AT, EMAIL FROM D_COMMENT 
		WHERE B_NUM = #{B_NUM}
		ORDER BY COMMENTED_AT
	</select>
	
	<delete id="dropComment" parameterType="com.smhrd.model.CommentMemberVO" >
      DELETE FROM D_COMMENT WHERE CMT_CONTENT = #{CMT_CONTENT}
   </delete>
	
</mapper>
